* {
	margin: 0;
	padding: 0;
 	overflow : hidden;
	white-space: nowrap;
} 

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("./images/patterns.png");
	background-position: center;
	height: 100%;
	margin: 5px;
}

#contentWrapper {
	position: relative;
	margin: 150px auto;
	height: 100%;
	text-align: center;
	width: 1200px;
}

#contentWrapper > div, #contentWrapper > h1 {
	margin: 10px auto;
}

#title {
	position: relative;
	font: 4em Verdana, sans-serif;
}

#clock {
	position: relative;
	background-color: #007935;
	height: 300px;
	width: 90%;
	border-radius: 5% / 15%;
	border: 5px solid #191919;
}

#controlButtonContainer {
	display: inline-grid;
	position: relative;
	
	bottom: 90px;
	right: 15px; 

	width: 200px;
	height: 200px;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "play pause"
						 "stop restart";
}

.controlButton {
	background-color: #62A70F;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 65%;

	position: relative;
	margin: auto;
	height: 75px;
	width: 75px;

	border-radius: 50%;
	border: none;
	outline: none;
}

.controlButton:active {
	transition-duration: 0.075s;;
	transition-timing-function: ease-out;
	border: 2px solid #154733;
}

#play {
	grid-area: play;
	background-image: url("./images/play.png");
}

#pause {
	grid-area: pause;
	background-image: url("./images/pause.png");
}

#stop {
	grid-area: stop;
	background-image: url("./images/stop.png");
}

#restart {
	grid-area: restart;
	background-image: url("./images/restart.png");
}

#clockHighlight {
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	display: inline-block;
	background-color: #62A70F;
	height: 75%;
	width: 75%;
	border-radius: 5% / 15%;
}

#clockText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #E0E0E0;
	font: 10em Verdana, sans-serif;
}

#settings {
	display: flex;
}

#settings > div {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	
	background-color: #FFD200;
	margin: 10px auto;
	height: 150px;
	width: 40%;
	border-radius: 5% / 10%;
	border: 5px solid #191919;
}

#settings > div > p {
	position: relative;
	font: 3em Verdana, sans-serif;
}

#settings > div > button {
	background-color: #FFD200;
	border: 2px solid #FFD200;
	border-radius: 5% / 10%;
	outline-color: #191919;
}

#settings > div > button:active {
	transition-duration: 0.075s;;
	transform: translate(0, 2px);
	transition-timing-function: ease-out;
}

#settings > div > .down {
	background: transparent url("./images/down-arrow.png") no-repeat center top;
}

#settings > div > .down:active {
	box-shadow: 2px -2px 8px #DBAA00;
}

#settings > div > .up {
	background: transparent url("./images/up-arrow.png") no-repeat center top;
}

#settings > div > .up:active {
	box-shadow: -2px -2px 8px #DBAA00;
}

#settings > div > .text {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

#settings > div > .down {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

#settings > div > .length {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#settings > div > .up {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}